# Remove index.php from URLs
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/index\.php[/?]([^\s]*)\sHTTP/
RewriteRule ^index\.php/?(.*)$ /$1 [R=301,L]

# Internally rewrite requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1 [L]
