RewriteEngine On

# Only route if not a real file or directory, and if the .php file exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1.php -f

RewriteRule ^(.+)$ $1.php?url=$1 [QSA,L]
