<header class="navbar">
  <div class="container nav-container">

    <a href="/home/" class="logo" style='text-decoration:none;'>
      <img src="/logo.jpeg" alt="SciEdIn Logo">
      <span>SciEdIn</span>
      <!--<span>SCIEDIN</span>-->
    </a>

    <nav>
      <ul class="nav-links">

        <li><a href="/home/">Home</a></li>
        <li><a href="/researchfeed/">Research Feed</a></li>
        <li><a href="/researchfeed/">SciEdIn Spot</a></li>
        <li><a href="/labatlas/">Lab Atlas</a></li>
        <li><a href="/curiosityhub/">Curiosity Hub</a></li>
        <li><a href="/opportunity/">Opportunities</a></li>

      </ul>
    </nav>

    <div class="nav-actions" id="navActions">
        
      <!-- Content will be controlled by components.js (login / profile) -->
    </div>




  </div>
</header>
